<div class="container mt-5">
    <div class="card shadow-lg p-4 text-center">
      <!-- Director Image -->
      <div class="mb-3">
        <img 
          src="assets/Keshav-Raj-Panthee.jpg" 
          alt="Keshav Raj Panthee, PhD" 
          class="rounded-circle shadow director-photo"
        />
      </div>
  
      <!-- Hero Section -->
      <div>
        <h3 class="fw-bold">Keshav Raj Panthee, PhD</h3>
        <p class="lead text-muted">Executive Director, <a href="https://orcid.org/0000-0001-9855-4826" target="_blank" rel="noopener"> ORCiD</a></p>
      </div>
  
      <div class="mt-4 text-start">
        <p>
         Executive director description...
        </p>
      </div>
    </div>
  
    <br><br><br>
  </div>
  