<section id="programs" class="programs py-5 bg-light">
    <div class="container text-center">
      <h2>Our Programs</h2>
      <div class="row">
        <div class="col-md-4">
          <div class="card">
            <img src="assets/program1.jpg" class="card-img-top" alt="Program 1">
            <div class="card-body">
              <h5 class="card-title">Program 1</h5>
              <p class="card-text">Description of the program.</p>
              <a href="#" class="btn btn-primary">Learn More</a>
            </div>
          </div>
        </div>
        <!-- Repeat for other programs -->
      </div>
    </div>
  </section>
  