<div class="container mt-5">
    <div class="card shadow-lg p-4 text-center">
      <!-- Director Image -->
      <div class="mb-3">
        <img 
          src="assets/Deepak-Kumar-Adhikari.jpg" 
          alt="Deepak Kumar Adhikari, PhD" 
          class="rounded-circle shadow director-photo"
        />
      </div>
  
      <!-- Hero Section -->
      <div>
        <h3 class="fw-bold">Deepak Kumar Adhikari, PhD</h3>
        <p class="lead text-muted">Director</p>
      </div>
  
      <!-- About NeNAP -->
      <div class="mt-4 text-start">
        <p>
         director description...
        </p>
      </div>
    </div>
  
    <br><br><br>
  </div>
  