<div class="container my-4">
    <h2 class="text-center">Latest Newsletters</h2>
    <div class="pdf-container">
        <iframe src="assets/UJAGAR-newsletter-2077-Chaitra-Asar-77-4-1.pdf" width="100%" height="600px"></iframe>
    </div>
    <br>
    <hr>
    <br>
    <div class="pdf-container">
        <iframe src="assets/UJAGAR-newsletter-Shrawan-Kartik-2076.pdf" width="100%" height="600px"></iframe>
    </div>
    <br>
    <hr>
    <br>
    <div class="pdf-container">
        <iframe src="assets/UJAGAR-newsletter-mangsir-falgun-2076-10-3.pdf" width="100%" height="600px"></iframe>
    </div>
</div>